/* You can add global styles to this file, and also import other style files */
@import "../src/assets/font-awesome/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: #F1F1F1;
}
